@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* SwiperButton */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-button-prev {
  margin-left: 2.5rem;
}

.swiper-button-next {
  margin-right: 2.5rem;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev {
    margin-left: 0rem;
  }
  .swiper-button-prev::after {
    font-size: 30px !important;
  }

  .swiper-button-next {
    margin-right: 0rem;
  }
  .swiper-button-next::after {
    font-size: 30px !important;
  }
}

/* Svg_color */
.svg_color {
  transition: all 0.3s ease;
}

.svg_color path {
  fill: #f44336;
  fill: white;
}

/* Map */
.bg-map {
  background: linear-gradient(
    to right,
    rgb(188, 188, 188),
    rgb(235, 169, 108) 150%,
    rgb(188, 188, 188)
  );
}

/* AuthModal */
.authBgColor {
  background-color: rgba(0, 0, 0, 0.2);
}

/* CloseButton */
.closeButton path {
  transition: all 0.3s ease;
  stroke: gray;
}
.closeButton:hover path {
  stroke: black;
}
